{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock title %}{% block content %}

{% set links = [
  ('Home', url_for('.index')),
  ('Services', url_for('.services')),
  ('Projects', url_for('.projects')),
  ('About', url_for('.about')),
] %}

{% for label, href in links %}
    {% if not loop.first %} | {% endif %}
    {% if href is current_link %}
        {{ label }}
    {% else %}
        <a href="{{ href }}">{{ label }}</a>
    {% endif %}
{% endfor %}

{% endblock content %}{% block footer %}
<hr>
{{ super() }}
{% endblock footer %}